.header-container {
  height: 400px;
  background-image: url("./../assets/lavadora-familia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.house-icon {
  width: 90px;
}

.width-25 {
  width: 25px;
}

.hover-red:hover {
  color: red;
}

.body-container {
  height: 1200px;
}

.footer-container {
  height: 500px;
}
