<div class="container-fluid">
  <div class="row">
    <div class="col header-container">
      <div class="container">
        <div class="row mt-5">
          <div class="col ps-0">
            <img class="house-icon rounded" [src]="houseIcon"
              alt="logo de empresa de reparaciones de electrodomésticos">
          </div>

          <div
            class="col bg-white bg-opacity-25 d-flex flex-column justify-content-center text-danger rounded fw-bold fs-5">
            <div class="row">
              <div class="col">Asistencia: +34 699 01 65 51</div>
            </div>

            <div class="row">
              <div class="col">E-mail: avreparacionesyreformas@gmail.com</div>
            </div>
          </div>
        </div>

        <div class="row mt-5 bg-white fs-5 text-secondary text-center rounded p-3">
          <div class="col-1">
            <img class="width-25" role="button" [src]="house"
              alt="icono de empresa de reparaciones de electrodomésticos">
          </div>

          <div class="col-3 fw-bold hover-red border-start">
            Avreparacionesyreformas
          </div>

          <div class="col-5 fw-bold hover-red border-start">
            Calle julio Merino 23 1B, Madrid 28026
          </div>

          <div class="col-3 fw-bold hover-red border-start">
            <img class="width-25 me-3" [src]="phoneIcon"
              alt="icono de telefono de empresa de reparaciones de electrodomésticos">
            +34 699 01 65 51
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="bg-black text-white fit-content bg-opacity-50 rounded p-2 mt-5 fs-1">
              Servicio técnico de electrodomésticos en general
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col bg-white body-container mt-5">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <img class="width-90" [src]="truck" alt="Desplazamiento gratuito de reparación de electrodomésticos">
          </div>

          <div class="col me-5">
            <h2>Servicio técnico de electrodomésticos <span class="text-danger">en general</span> en Madrid.</h2>
            <h4 class="text-secondary">Reparaciones con garantía.</h4>
          </div>
        </div>

        <div class="text-secondary-emphasis">
          <img class="furgo" [src]="furgo" alt="">
          <hr class="w-75 mt-4" />
          <ul>
            <li>
              <p>Desplazamiento gratuito al reparar sus electrodomésticos.</p>
            </li>
            <li>
              <p>Atención / cita el mismo día.</p>
            </li>
            <li>
              <p>Garantía por escrito de la reparación de sus electrodomésticos.</p>
            </li>
            <li>
              <p>Piezas de repuestos de calidad.</p>
            </li>
          </ul>
        </div>

        <div class="row mt-5">
          <div class="col text-center mt-5 p-5">
            <h2>Todas las marcas en general.</h2>
            <div class="row mt-5 text-danger fw-bold">
              <div class="col fs-5 mt-3">Bosch</div>
              <div class="col fs-5 mt-3">Balay</div>
              <div class="col fs-5 mt-3">Linx</div>
            </div>
            <div class="row fw-bold">
              <div class="col fs-5 mt-3">Siemens</div>
              <div class="col fs-5 mt-3">Gaggenau</div>
              <div class="col fs-5 mt-3">Fagor</div>
            </div>
            <div class="row text-danger fw-bold">
              <div class="col fs-5 mt-3">Electrolux</div>
              <div class="col fs-5 mt-3">Zanussi</div>
              <div class="col fs-5 mt-3">Samsung</div>
            </div>

            <div class="row fw-bold">
              <div class="col fs-5 mt-3">Neff</div>
              <div class="col fs-5 mt-3">Aspes</div>
              <div class="col fs-5 mt-3">Edessa</div>
            </div>

            <div class="row text-danger fw-bold">
              <div class="col fs-5 mt-3">Aeg</div>
              <div class="col fs-5 mt-3">Indesit</div>
              <div class="col fs-5 mt-3">Ariston</div>
            </div>

            <div class="row fw-bold">
              <div class="col fs-5 mt-3">Miele</div>
              <div class="col fs-5 mt-3">Lg</div>
              <div class="col fs-5 mt-3">Teka</div>
            </div>

            <div class="row text-danger fw-bold">
              <div class="col fs-5 mt-3">Whirlpool</div>
              <div class="col fs-5 mt-3">Liebher</div>
              <div class="col fs-5 mt-3">Corvero</div>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col mt-5 text-center">
            <h2>
              <span class="text-danger">___</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Reparación de electrodomésticos
              <span class="text-danger">
                en general&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___
              </span>
            </h2>
            <h4 class="text-secondary">
              Como servicio técnico especializado, reparamos
              <span class="text-danger">todo tipo</span>
              de electrodomésticos
            </h4>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col bg-danger text-center text-white mt-5 p-5">
          <h4>Servicio técnico de electrodomésticos para toda la provincia de madrid.</h4>
          <h2>+34 699 01 65 51</h2>

        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col bg-black footer-container text-white">
      <div class="container mt-5">
        <div class="row">
          <div class="col fs-4 ms-5">Empresa</div>
          <div class="col fs-4 ms-5">Electrodomesticos</div>
          <div class="col fs-4 ms-5">Contacto</div>
        </div>

        <div class="row">
          <div class="col text-secondary fw-bold mt-5 ms-5">
            <p>Servicio de Asistencia Técnica en Madrid.</p>

            <p> Nuestra prioridad es ofrecerle el mejor servicio especializado en la reparación de Electrodomésticos

              de Gama Blanca en toda Madrid</p>
          </div>
          <div class="col text-secondary fw-bold mt-5 ms-5">
            <ul>
              <li>Lavadoras</li>
              <li>Secadoras</li>
              <li>Lavavajillas</li>
              <li>Frigoríficos</li>
              <li>Hornos</li>
              <li>Campanas extractoras</li>
              <li>Congeladores</li>
              <li>Vitrocerámicas</li>
              <li>Microondas</li>
              <li>Termos</li>
              <li>Aires Acondicionados</li>
            </ul>
          </div>
          <div class="col text-secondary fw-bold mt-5 ms-5">
            <p> <img [src]="location" class="width-25" alt="Iconos del footer para la localización"> Madrid (España)</p>
            <p> <img [src]="phoneFooter" class="width-25" alt="Iconos del footer para el teléfono"> Teléfono: +34 699 01 65 51</p>
            <p> <img [src]="mailIcon" class="width-25" alt="Iconos del footer para el correo"> Email: avreparacionesyreformas@gmail.com</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>