<div class="container-fluid">
  <div class="row">
    <div class="col header-container">
      <div class="container">
        <div class="row mt-5">
          <div class="col ps-0">
            <img class="house-icon rounded" [src]="houseIcon" alt="logo de empresa de reparaciones de electrodomésticos">
          </div>

          <div class="col bg-white bg-opacity-25 d-flex flex-column justify-content-center text-danger rounded fw-bold fs-5">
            <div class="row">
              <div class="col">Asistencia: +34 699 01 65 51</div>
            </div>

            <div class="row">
              <div class="col">E-mail: avreparacionesyreformas@gmail.com</div>
            </div>
          </div>
        </div>

        <div class="row mt-5 bg-white fs-5 text-secondary text-center rounded p-3">
          <div class="col-1">
            <img class="width-25" role="button" [src]="house" alt="icono de empresa de reparaciones de electrodomésticos">
          </div>

          <div class="col-3 fw-bold hover-red border-start">
            Avreparacionesyreformas
          </div>

          <div class="col-5 fw-bold hover-red border-start">
            Calle julio Merino 23 1B, Madrid 28026
          </div>

          <div class="col-3 fw-bold hover-red border-start">
            <img class="width-25 me-3" [src]="phoneIcon" alt="icono de telefono de empresa de reparaciones de electrodomésticos">
            +34 699 01 65 51
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="bg-black text-white fit-content bg-opacity-50 rounded p-2 mt-5 fs-1">
              Servicio técnico de electrodomésticos en general
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col bg-secondary body-container">Body</div>
  </div>
  <div class="row">
    <div class="col bg-black footer-container">Footer</div>
  </div>
</div>